<%- include('../includes/head_admin.ejs'); %>

<h1 class="title is-1 has-text-white-ter has-text-centered">Agregar Dietas</h1>
<br>
<div class="aligned" style="display: block; margin: 0 auto; width: 30%;">
    <label for = "nombre"><h5 class="subtitle is-5 has-text-white-ter">Nombre</h5></label>
    <input class = "input is-rounded" type = "text" id="nombre" name = "nombre" size="20" >
</div>
<br>
<div class="container">
    <h3 class="title is-3 has-text-white-ter">Alimentos</h3>
    <table class = "table has-text-white-ter has-background-black-ter is-fullwidth">
        <thead>
            <tr>
                <th class="has-text-white-ter">Nombre</th>
                <th class="has-text-white-ter">Medida</th>
                <th class="has-text-white-ter">Cantidades</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>
<%- include('../includes/foot.ejs'); %>