<%- include('../includes/head.ejs'); %>
<h1 class = "title is-1 has-text-white-ter">Dietas</h1>
<% if (dietas.length > 0) { %>
    <div class="columns">
        <% let columns = 0; %>
        <% for (let dieta of dietas) { %>
            <% if (columns % 4 == 0) { %>
    </div>
    <div class="columns">
            <% } %>
            <% columns++; %>
            <div class="column is-3">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img src="https://www.iocir.com/wp-content/uploads/2020/10/diet-food-PUD4BCL.jpg" alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-left">
                                <figure class="image is-48x48">
                                    <img src="https://cdn-icons-png.flaticon.com/512/706/706133.png" alt="Placeholder image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <p class="title is-4"><%= dieta.nombre %></p>
                                <p class="subtitle is-6"><%= dieta.tipo_dieta %></p>
                            </div>
                        </div>
                    
                    </div>
                </div>
            </div>
        <% } %>
    </div>
<% } else { %>
    <h1 class="has-text-white-ter">No hay dietas registradas</h1>
<% } %>   
<%- include('../includes/foot.ejs'); %>