<!DOCTYPE html>
<html>
<head>
    <title>Pagina web navegable</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <style>
      .navbar-item:hover, .navbar-link:hover, .navbar-dropdown{
        background-color: rgb(20, 20, 20) !important;
        color:rgb(31, 93, 240)
      }


      .navbar-item, .navbar-link, .navbar-dropdown{
        color:rgb(216, 216, 216);
      }

      body
      {
        min-height: 100vh;
      }
      .card {
        height: 100%;
      }
    </style>
</head>
<body class="has-background-black-ter">
    <nav class="navbar has-background-link-dark" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="/home">
            <img src="https://picsum.photos/112/28">
          </a>
      
          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
      

        <div id="navbarBasicExample " class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item " href="/home">
              Bitacora
            </a>
      
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link has-background-link-dark">
                Dietas
              </a>
      
              <div class="navbar-dropdown ">
                <a class="navbar-item" href="/dietas/favoritas">
                  Favoritas
                </a>
                <a class="navbar-item" href="/dietas">
                  Más dietas
                </a>
              </div>
            </div>
      
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link has-background-link-dark">
                Rutinas
              </a>
      
              <div class="navbar-dropdown">
                <a class="navbar-item " href="/rutinas/favoritas">
                  Favoritas
                </a>
                <a class="navbar-item" href="/rutinas">
                  Más rutinas
                </a>
              </div>
            </div>

            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link has-background-link-dark">
                Mediciones
              </a>
      
              <div class="navbar-dropdown">
                <a class="navbar-item" href="/medidas">
                  Registrar medidas
                </a>
              </div>
            </div>
            <a class="navbar-item" href="/progreso">
              Progreso
            </a>
          </div>
      
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
                <a class="button" href = "/perfil">
                  <img src = https://www.freeiconspng.com/thumbs/profile-icon-png/profile-icon-9.png>
                </a>
              </div>
            </div>
          </div>
        </div>
      </nav>
    <div class="container">
