<!DOCTYPE html>
<html>
<head>
    <title>Pagina web navegable</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <style>
      .navbar-item:hover, .navbar-link:hover, .navbar-dropdown{
        background-color: rgb(20, 20, 20) !important;
        color:rgb(31, 93, 240)
      }


      .navbar-item, .navbar-link, .navbar-dropdown{
        color:rgb(216, 216, 216);
      }

      body
      {
        min-height: 100vh;
      }
    </style>
</head>
<body class="has-background-black-ter">
    <nav class="navbar has-background-link-dark	" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="/home">
            <img src="https://picsum.photos/112/28">
          </a>
      
          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
      
        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start ">
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link has-background-link-dark">
                Dietas
              </a>
      
              <div class="navbar-dropdown ">
                <a class="navbar-item" href="/dietas/agregar">
                  Agregar dietas
                </a>
                <a class="navbar-item" href="/dietas">
                  Más dietas
                </a>
              </div>
            </div>
            
      
            <div class="navbar-item has-dropdown is-hoverable ">
              <a class="navbar-link has-background-link-dark">
                Rutinas
              </a>
              <div class="navbar-dropdown">
                <a class="navbar-item " href = "/rutinas/agregar">
                  Agregar rutinas
                </a>
                <a class="navbar-item" href="/rutinas">
                  Todas las rutinas
                </a>
              </div>
            </div>

            <div class="navbar-item has-dropdown is-hoverable ">
              <a class="navbar-link has-background-link-dark">
                Alimentos
              </a>
              <div class="navbar-dropdown">
                <a class="navbar-item " href = "/alimentos/agregar">
                  Agregar alimentos
                </a>
                <a class="navbar-item" href="/alimentos">
                  Todas los alimentos
                </a>
              </div>
            </div>

            <div class="navbar-item has-dropdown is-hoverable ">
              <a class="navbar-link has-background-link-dark">
                Ejercicios
              </a>
              <div class="navbar-dropdown">
                <a class="navbar-item " href = "/ejercicios/agregar">
                  Agregar ejercicios
                </a>
                <a class="navbar-item" href="/ejercicios">
                  Todas los ejercicios
                </a>
              </div>
            </div>

            <div class="navbar-item has-dropdown is-hoverable ">
              <a class="navbar-link has-background-link-dark">
                Roles
              </a>
              <div class="navbar-dropdown">
                <a class="navbar-item " href = "/roles/agregar">
                  Agregar roles
                </a>
                <a class="navbar-item" href="/roles">
                  Todas los roles
                </a>
              </div>
            </div>
          </div>
      
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
                <a class="button" href = "/perfil">
                  <img src = https://www.freeiconspng.com/thumbs/profile-icon-png/profile-icon-9.png>
                </a>
              </div>
            </div>
          </div>
        </div>
      </nav>
    <div class="container">
