<%- include('../includes/head_inicio.ejs'); %>
<h1 class = "title is-1 has-text-white-ter	"> Bienvenido a nuestra página</h1>
<br>
<h2 class = "subtitle is-2 has-text-white-ter"> ¿Quienes Somos?</h2>
<p class = "text has-text-white-ter"> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facere, quae sed? Minima ut repellendus unde voluptatum optio quaerat et, voluptatibus, soluta culpa velit perspiciatis dolores harum inventore temporibus earum quidem.</p>
<br>
<img src = "https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png">
<%- include('../includes/foot.ejs'); %>