<%- include('../includes/head.ejs'); %>
<div class="columns is-centered">
    <div class="column is-half">
      <form action="/iniciar-sesion" method="POST">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
        
          <label for = "id_login "> <h5 class="title is-5 has-text-white-ter">Usuario: </h5></label>
          <input class="input is-info" type="text" id="nombre_usuario" name="nombre_usuario">
          <br><br>
          <label for = "contrasena"> <h5 class="title is-5 has-text-white-ter">Contraseña: </h5></label>
          <input class="input is-info" type="password" id="contrasena" name="contrasena">
          <br><br>
          <div class="field is-grouped">
              <div class="control">
                <a href="/home"><button class="button is-info">Enviar</button></a>
              </div>
              <div class="control">
                <a href = "/"><button class="button is-link is-light">Cancelar</button></a>
              </div>
          </div>
      </form>
    </div>
</div>
<%- include('../includes/foot.ejs'); %>