<%- include('../includes/head.ejs'); %>
<h1> Bienvenido !</h1>
<a href = '/iniciar-sesion' class = "button"> Inicia Sesión</a>
<a href = '/iniciar-sesion' class = "button"> Registrate </a>
<%- include('../includes/foot.ejs'); %>